

.properties-list{
    display: grid;
    flex-direction: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;
}

.property-list-item{
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    background-color: #eee; 
    display:block;
    text-decoration:none;
    color: #808080;
    height:400px;
}


.property-list-item:hover{
    background-color: #e9caae; 
    text-decoration:none;
    color: #658f86;;
    transform: scale(0.9);   
    transition: 0.3s;
}